* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #1F2937;
}

header .container {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-item {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    width: 100%;
    background-color: #1F2937;
}

.hero .container {
    padding: 64px 0;
    display: flex;
    gap: 48px;
}

.hero-description {
    flex: 1;
}

.description-image {
    height: 300px;
    flex: 1;
    background-color: #E5E7EB;
    object-fit: cover;
}

.description-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 18px;
}

.description-details {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 18px;
}

.description-action-btn {
    padding: 10px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
}

.info {
    background-color: #fff;
}

.info .container {
    margin: 64px auto;
}

.info-header {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-pictures {
    margin-top: 48px;
    display: flex;
    justify-content: space-evenly;
    
}

.info-pictures img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.info-pictures figcaption {
    margin-top: 18px;
    width: 200px;
    font-size: 14px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

.quote {
    width: 100%;
    background-color: #E5E7EB;
}

.quote .container {
    padding: 64px 0;
}

.quote figure {
    width: 80%;
    margin: 0 auto;
}

.quote blockquote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote figcaption {
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-align: end;
    color: #1F2937;
}

.action {
    padding: 64px 0;
}

.action .container {
    padding: 48px 128px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
}

.action-description h4 {
    font-size: 18px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 9px;
}

.action-description p {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

.action-btn {
    padding: 14px 24px;
    background-color: transparent;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
}

footer {
    background-color: #1F2937;
}

footer .container {
    padding: 48px 0;
}

footer p {
    font-size: 14px;
    font-weight: normal;
    color: #E5E7EB;
    text-align: center;
}