* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #1F2937;
}

header .container {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 24px;
}

.nav-item {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    width: 100%;
    background-color: #1F2937;
}

.hero .container {
    padding: 64px 0;
    display: flex;
    gap: 48px;
}

.hero-description {
    flex: 1;
}

.description-image {
    height: 300px;
    flex: 1;
    background-color: #E5E7EB;
    object-fit: cover;
}

.description-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 18px;
}

.description-details {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 18px;
}

.description-action-btn {
    padding: 10px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
}

.info {
    background-color: #fff;
}

.info .container {
    margin: 64px auto;
}

.info-header {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-pictures {
    margin-top: 48px;
    display: flex;
    justify-content: space-evenly;
    
}

.info-pictures img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.info-pictures figcaption {
    margin-top: 18px;
    width: 200px;
    font-size: 14px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}
